<div class="app">
  <header>
    <section>
      <h1>{{ title }}</h1>
    </section>
    <nav>
      <a routerLink="/home" routerLinkActive="active">Home</a>&nbsp;
      <a routerLink="/login" routerLinkActive="active">Login</a>&nbsp;
      <a routerLink="/signup" routerLinkActive="active">Signup</a>&nbsp;
      <a routerLink="/contact" routerLinkActive="active">Contact</a>&nbsp;
      <a routerLink="/about" routerLinkActive="active">About</a>
    </nav>
  </header>

  <main class="routesClass">
    <h4>Routes Result</h4>
    <router-outlet></router-outlet>
  </main>
</div>